doctype html 
html
  head
    title Crud Application 
    block scripts
    block style 
  body
    header
      nav.navbar.container.text-center
        #navlist
          ul
            li
              a.nav-brand.text-dark(href='/') User Management System 
    block content
    footer.text-center
      h1 
        |About Us 
      p 
        |Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid reiciendis est iusto voluptate odit officia animi? <br> Voluptatum, minus iste. Eius sapiente ratione cupiditate alias ex consequatur aliquid, 
      <br>
      <i class="fa fa-facebook" ></i>
      <i class="fa fa-twitter" ></i>
      <i class="fa fa-instagram" ></i>
      <i class="fa fa-linkedin" ></i>

      